.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px; /* Optional padding for a little breathing room */
}
#background {
    height: 725px;
}
body {
    background-color: #364652; 
}
header {
    background-color: #CDC7E5;
}
nav a:hover {
    background-color: #f7db09;
}
.msg {
    background-color: #FFFBDB
}            
.book, .join {
    background-color: #364652;
}
.book:hover, .join:hover {
    background-color: #CDC7E5;
}
#background {
    background-color: #f7db09;
}
footer {
    background-color: #FFFBDB
}


nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
#background {
    background-color: black;
    color: #d9c2a3;
}
body {
    background-color: black;
    color: #d9c2a3;
}
header {
    background-color: black;
    color: #d9c2a3;
}
.msg {
    background-color: black;
    color: #d9c2a3;
}
.book, .join {
    background-color: black;
    color: #d9c2a3;
}
.book:hover, .join:hover {
    background-color: black;
    color: #d9c2a3;
}
footer {
    background-color: black;
    color: #d9c2a3;
}


.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    